-------------
INSERT INTO TB_GHICHU(DANHBO, NOIDUNG, DONVI, CREATEDATE, CREATEBY)
SELECT cast(cast(DANHBO as bigint) as varchar(100)) as 'DANHBO',(N'ĐC Lộ Trình :'+MALT_CU +'->'+MALT_MOI) as NOIDUNG,'QLDHN' as DONVI,'2014-06-20' as CREATEDATE,'IT' as CREATEBY
FROM AA_TANBINH02

-------------





UPDATE HOADONTH05_2014 SET  GIABIEU= t2.GIABIEU, DINHMUC=t2.DINHMUC
FROM TB_DULIEUKHACHHANG t2
WHERE HOADONTH05_2014.DANHBO = t2.DANHBO AND HOADONTH05_2014.CODE <> 'M'


SELECT SUBSTRING(LOTRINH,1,2) as 'DOT',kh.LOTRINH, kh.DANHBO, kh.HOPDONG, kh.HOTEN, kh.SONHA, kh.TENDUONG,kh.HIEUDH, kh.CODH,SOTHANDH,KY, YEAR(kh.NGAYTHAY) AS 'NAM' 
FROM  TB_DULIEUKHACHHANG kh
WHERE  SUBSTRING(LOTRINH,3,2) IN ('01','02','03','04','05','06','07','08','09','10','11','12','13','14','15')
AND DANHBO NOT IN  (SELECT DANHBO FROM AA_TANBINH01)
ORDER BY  LOTRINH ASC




SELECT * FROM AA_TANBINH01 WHERE DANHBO NOT IN (SELECT DANHBO FROM TB_DULIEUKHACHHANG)
------------------------------------------------------------

SELECT SUBSTRING(LOTRINH,1,2) as 'DOT',kh.LOTRINH, kh.DANHBO, kh.HOPDONG, kh.HOTEN, kh.SONHA, kh.TENDUONG,kh.HIEUDH, kh.CODH,SOTHANDH, YEAR(kh.NGAYTHAY) AS 'NAM' , VITRIDHN
FROM  TB_DULIEUKHACHHANG kh
WHERE  SUBSTRING(LOTRINH,3,2) IN ('16','17','18','19','20','21','22','23','24','25','26','27','28','29','30')
ORDER BY  LOTRINH ASC

SELECT SUBSTRING(LOTRINH,1,2) as 'DOT',kh.LOTRINH, kh.DANHBO, kh.HOPDONG, kh.HOTEN, kh.SONHA, kh.TENDUONG,kh.HIEUDH, kh.CODH,SOTHANDH, YEAR(kh.NGAYTHAY) AS 'NAM' , VITRIDHN
FROM  TB_DULIEUKHACHHANG kh
WHERE SUBSTRING(LOTRINH,3,2) IN ('31','32','33','34','35','36','37','38','39','40','41','42','43','44','45','46','47','48','49','50')
ORDER BY  LOTRINH ASC
------------------------------------------------------------------
SELECT SUBSTRING(LOTRINH,1,2) as 'DOT',kh.LOTRINH, kh.DANHBO, kh.HOPDONG, kh.HOTEN, kh.SONHA, kh.TENDUONG,kh.HIEUDH, kh.CODH,SOTHANDH,KY, YEAR(kh.NGAYTHAY) AS 'NAM' 
FROM  TB_DULIEUKHACHHANG kh
WHERE SUBSTRING(LOTRINH,3,2) IN ('51','52','53','54','55','56','57','58','59','60','61','62','63','64','65','66','67','67','69','70')
AND DANHBO NOT IN  (SELECT DANHBO FROM AA_TANPHU02)
ORDER BY  LOTRINH ASC

SELECT * FROM AA_TANPHU02 WHERE DANHBO NOT IN (SELECT DANHBO FROM TB_DULIEUKHACHHANG)





--- XUAT DU LIEU TONG ----------------------------------------

----- TAN BINH 01
sobke	ngayky	nguoiky	dbo	dot_cu	dot_moi	so_moi	stt_moi	pgcs_moi	pgcs_cu	hieuluc_ky

-----------
SELECT '"'+cast(cast(DANHBO as bigint) as varchar(100))+'","'+LEFT(MALT_CU,2)+'","'+LEFT(MALT_MOI,2)+'","'+SUBSTRING(MALT_MOI,3,2)+'","'+SUBSTRING(MALT_MOI,5,5)+'","'+SUBSTRING(MALT_CU,5,5)+'"'
FROM AA_TANBINH01
ORDER BY LEFT(MALT_MOI,2) ASC
-----------


SELECT T1.* , KH.HOPDONG,KH.HOTEN,KH.SONHA,KH.TENDUONG,KH.GIABIEU,KH.DINHMUC
FROM (SELECT DANHBO,LEFT(MALT_CU,2) AS dot_cu,LEFT(MALT_MOI,2) AS dot_moi,SUBSTRING(MALT_MOI,3,2) AS so_moi,SUBSTRING(MALT_MOI,5,5) AS stt_moi,SUBSTRING(MALT_CU,5,5) AS pgcs_cu,
 CONVERT(VARCHAR(50),KY6,103) AS NGAYDOCKY6,CONVERT(VARCHAR(50),KY7,103) AS NGAYDOCKY7
	,(DATEDIFF(day,KY6,KY7) -30) AS LECH
	FROM AA_TANBINH01 
	WHERE LEFT(MALT_CU,2) <> LEFT(MALT_MOI,2) AND (DATEDIFF(day,KY6,KY7) -30)>5 
	) AS T1  
LEFT JOIN TB_DULIEUKHACHHANG KH
ON KH.DANHBO=T1.DANHBO
ORDER BY DOT ASC


SELECT KH.DANHBO,LEFT(MALT_CU,2) AS dot_cu,LEFT(MALT_MOI,2) AS dot_moi,SUBSTRING(MALT_MOI,3,2) AS so_moi,SUBSTRING(MALT_MOI,5,5) AS stt_moi,SUBSTRING(MALT_CU,5,5) AS pgcs_cu,MALT_CU,MALT_MOI,KY6,KY7
,DATEDIFF(day,KY6,KY7) -30
FROM AA_TANBINH01 , TB_DULIEUKHACHHANG KH 
WHERE KH.DANHBO= AA_TANBINH01.DANHBO AND LEFT(MALT_CU,2) <> LEFT(MALT_MOI,2) AND (DATEDIFF(day,KY6,KY7) -30)>5  AND KH.DINHMUC <> 0
ORDER BY LEFT(MALT_MOI,2) ASC


SELECT '"'+cast(cast(TB.DANHBO as bigint) as varchar(100))+'","'+LEFT(MALT_MOI,2)+'","'+SUBSTRING(MALT_MOI,3,2)+'","'+SUBSTRING(MALT_MOI,5,5)+'","'+ CASE WHEN ((DATEDIFF(day,KY6,KY7) -30)>5 AND KH.DINHMUC > 0) THEN  CONVERT(VARCHAR(20),(CONVERT(INT,KH.DINHMUC)*2)) ELSE  '' END +'"'
FROM AA_TANBINH01 TB, TB_DULIEUKHACHHANG KH
WHERE TB.DANHBO=KH.DANHBO
ORDER BY TB.MALT_MOI ASC



UPDATE AA_TANBINH01 SET KY6=T1.K6
FROM AA_NGAYDOC T1
WHERE T1.DOT=LEFT(MALT_CU,2)


UPDATE AA_TANBINH01 SET KY7=T1.K7
FROM AA_NGAYDOC T1
WHERE T1.DOT=LEFT(MALT_MOI,2)

SELECT * FROM AA_TANBINH01 ORDER BY LEFT(MALT_CU,2) ASC


----- TAN PHU 02

SELECT '"'+cast(cast(DANHBO as bigint) as varchar(100))+'","'+LEFT(MALT_CU,2)+'","'+LEFT(MALT_MOI,2)+'","'+SUBSTRING(MALT_MOI,3,2)+'","'+SUBSTRING(MALT_MOI,5,5)+'","'+SUBSTRING(MALT_CU,5,5)+'"'
FROM AA_TANBINH01
ORDER BY LEFT(MALT_MOI,2) ASC


SELECT '"'+cast(cast(DANHBO as bigint) as varchar(100))+'","'+LEFT(MALT_CU,2)+'","'+LEFT(MALT_MOI,2)+'","'+SUBSTRING(MALT_MOI,3,2)+'","'+SUBSTRING(MALT_MOI,5,5)+'","'+F6+'"'
FROM AA_TANPHU02
ORDER BY LEFT(MALT_MOI,2) ASC


SELECT DANHBO,COUNT(*) FROM AA_TANPHU02 
GROUP BY DANHBO
HAVING COUNT(*)>1


SELECT * FROM  AA_TANBINH01
WHERE DANHBO IN ('13021093712','13041800713','13041810591','13051375210','13041800402') 
ORDER BY MALT_MOI ASC


SELECT '"'+cast(cast(TB.DANHBO as bigint) as varchar(100))+'","'+LEFT(MALT_MOI,2)+'","'+SUBSTRING(MALT_MOI,3,2)+'","'+SUBSTRING(MALT_MOI,5,5)+'","'+ CASE WHEN ((DATEDIFF(day,KY6,KY7) -30)>5 AND KH.DINHMUC > 0) THEN  '1' ELSE  '0' END +'"'
FROM AA_TANPHU02 TB, TB_DULIEUKHACHHANG KH
WHERE TB.DANHBO=KH.DANHBO
ORDER BY MALT_MOI ASC


SELECT '"'+cast(cast(TB.DANHBO as bigint) as varchar(100))+'","'+LEFT(MALT_MOI,2)+'","'+SUBSTRING(MALT_MOI,3,2)+'","'+SUBSTRING(MALT_MOI,5,5)+'","'+ CASE WHEN ((DATEDIFF(day,KY6,KY7) -30)>5 AND KH.DINHMUC > 0) THEN  '1' ELSE  '0' END +'"'
FROM AA_TANBINH01 TB, TB_DULIEUKHACHHANG KH
WHERE TB.DANHBO=KH.DANHBO
ORDER BY TB.MALT_MOI ASC




UPDATE TB_DULIEUKHACHHANG SET  LOTRINH= t2.MALT_MOI
FROM AA_TANBINH t2
WHERE cast(cast(t2.DANHBO as bigint) as varchar(100)) = TB_DULIEUKHACHHANG.DANHBO 


UPDATE TB_DULIEUKHACHHANG SET  LOTRINH= t2.MALT_MOI
FROM AA_TANPHU02 t2
WHERE cast(cast(t2.DANHBO as bigint) as varchar(100)) = TB_DULIEUKHACHHANG.DANHBO 




-------------------------------------------------
----- TAN BINH 02

DELETE FROM AA_TANBINH02 WHERE DANHBO='DANHBO'

SELECT DANHBO,COUNT(*) FROM AA_TANBINH02 
GROUP BY DANHBO
HAVING COUNT(*)>1

SELECT MALT_MOI,COUNT(*) FROM AA_TANBINH02 
GROUP BY MALT_MOI
HAVING COUNT(*)>1



SELECT DOT,DANHBO,LOTRINH,HOPDONG,HOTEN,SONHA,TENDUONG,KY,NAM 
 FROM TB_DULIEUKHACHHANG KH  
WHERE   SUBSTRING(LOTRINH,3,2) IN ('16','17','18','19','20','21','22','23','24','25','26','27','28','29','30')
 AND CONVERT(VARCHAR(11),KH.DANHBO) NOT IN (SELECT CONVERT(VARCHAR(11),DANHBO)  FROM AA_TANBINH02 )
 ORDER BY LOTRINH ASC
 

SELECT * FROM AA_TANBINH02 
WHERE DANHBO NOT IN (SELECT DANHBO FROM TB_DULIEUKHACHHANG  WHERE SUBSTRING(LOTRINH,3,2) IN ('16','17','18','19','20','21','22','23','24','25','26','27','28','29','30'))

UPDATE AA_TANBINH02 SET KY7=T1.K7
FROM AA_NGAYDOC T1
WHERE T1.DOT=LEFT(MALT_CU,2)


SELECT KH.DANHBO,LEFT(MALT_CU,2) AS dot_cu,LEFT(MALT_MOI,2) AS dot_moi,SUBSTRING(MALT_MOI,3,2) AS so_moi,SUBSTRING(MALT_MOI,5,5) AS stt_moi,SUBSTRING(MALT_CU,5,5) AS pgcs_cu,MALT_CU,MALT_MOI,KY7,KY8
,DATEDIFF(day,KY7,KY8) -30
FROM AA_TANBINH02 , TB_DULIEUKHACHHANG KH 
WHERE KH.DANHBO= AA_TANBINH02.DANHBO 
AND LEFT(MALT_CU,2) <> LEFT(MALT_MOI,2) AND (DATEDIFF(day,KY7,KY8) -30)>=5  AND KH.DINHMUC <> 0
ORDER BY LEFT(MALT_MOI,2) ASC




SELECT '"'+cast(cast(TB.DANHBO as bigint) as varchar(100))+'","'+LEFT(MALT_MOI,2)+'","'+SUBSTRING(MALT_MOI,3,2)+'","'+SUBSTRING(MALT_MOI,5,5)+'","'+ CASE WHEN ((DATEDIFF(day,KY7,KY8) -30)>=5 AND KH.DINHMUC > 0) THEN  '1' ELSE  '0' END +'"'
FROM AA_TANBINH02 TB, TB_DULIEUKHACHHANG KH
WHERE TB.DANHBO=KH.DANHBO
ORDER BY MALT_MOI ASC


SELECT '"'+cast(cast(TB.DANHBO as bigint) as varchar(100))+'","'+LEFT(MALT_MOI,2)+'","'+SUBSTRING(MALT_MOI,3,2)+'","'+SUBSTRING(MALT_MOI,5,5)+'","'+ CASE WHEN ((DATEDIFF(day,KY7,KY8) -30)>5 AND KH.DINHMUC > 0) THEN  '1' ELSE  '0' END +'"'
FROM AA_TANBINH02 TB, TB_DULIEUKHACHHANG KH
WHERE TB.DANHBO=KH.DANHBO
ORDER BY TB.MALT_MOI ASC




UPDATE TB_DULIEUKHACHHANG SET  LOTRINH= t2.MALT_MOI
FROM AA_TANBINH02 t2
WHERE cast(cast(t2.DANHBO as bigint) as varchar(100)) = TB_DULIEUKHACHHANG.DANHBO 


UPDATE TB_DULIEUKHACHHANG SET  LOTRINH= t2.MALT_MOI
FROM AA_TANPHU02 t2
WHERE cast(cast(t2.DANHBO as bigint) as varchar(100)) = TB_DULIEUKHACHHANG.DANHBO 









------------------------------------------------------------------------------------------------------

SELECT DOT,DANHBO,LOTRINH,HOPDONG,HOTEN,SONHA,TENDUONG,KY,NAM 
 FROM TB_DULIEUKHACHHANG KH  
WHERE   SUBSTRING(LOTRINH,3,2) IN ('16','17','18','19','20','21','22','23','24','25','26','27','28','29','30')


UPDATE TB_DULIEUKHACHHANG SET  LOTRINH= t2.MALT_MOI
FROM AA_TANPHU02 t2
WHERE cast(cast(t2.DANHBO as bigint) as varchar(100)) = TB_DULIEUKHACHHANG.DANHBO 

UPDATE KHACHHANG SET MALOTRINH=NULL


UPDATE KHACHHANG SET MAY= NULL,
					MALOTRINH= NULL,
					MALOTRINH2= NULL,
					DOT= NULL
					
UPDATE KHACHHANG SET MAY= CONVERT(INT,SUBSTRING(KH.LOTRINH,3,2)),
					MALOTRINH= KH.LOTRINH,
					MALOTRINH2=KH.LOTRINH,
					DOT=CONVERT(INT,SUBSTRING(KH.LOTRINH,1,2))
FROM CAPNUOCTANHOA.dbo.TB_DULIEUKHACHHANG KH
WHERE KHACHHANG.DANHBA=KH.DANHBO


	//AND SUBSTRING(KH.LOTRINH,3,2) IN ('16','17','18','19','20','21','22','23','24','25','26','27','28','29','30')

SELECT * FROM KHACHHANG WHERE TODS=2


UPDATE KHACHHANG SET MAY= CONVERT(INT,SUBSTRING(KH.LOTRINH,3,2)),
					MALOTRINH= KH.LOTRINH,
					MALOTRINH2=KH.LOTRINH,
					DOT=CONVERT(INT,SUBSTRING(KH.LOTRINH,1,2))
FROM CAPNUOCTANHOA.dbo.TB_DULIEUKHACHHANG KH 
WHERE KHACHHANG.DANHBA=KH.DANHBO AND  KH.LOTRINH <> KHACHHANG.MALOTRINH

SELECT KH.*
FROM KHACHHANG KH, CAPNUOCTANHOA.dbo.TB_DULIEUKHACHHANG DL
WHERE KH.DANHBA=DL.DANHBO AND KH.MALOTRINH <> DL.LOTRINH