 UPDATE TB_DULIEUKHACHHANG
 SET KHU = HdTH02.KHU, 
	 HOPDONG = HdTH02.HOPDONG,
	 CODEFU=HdTH02.CODEFU,
	 CHUKY=HdTH02.CHUKY,
	 CHITHAN='CON',
	 CHIGOC='CON',	
	 CREATEDATE = GETDATE(), CREATEBY='system'
 FROM HdTH02
 WHERE TB_DULIEUKHACHHANG.DANHBO=HdTH02.DANHBO
--------
UPDATE TB_DULIEUKHACHHANG
SET CHITHAN='CON',
	 CHIGOC='CON',	
	 CREATEDATE = GETDATE(), CREATEBY='system'
 
------

DELETE FROM DULIEUDOCSOVE

UPDATE DULIEUDOCSOVE SET [Column 0]=REPLACE([Column 0],'"','')
UPDATE DULIEUDOCSOVE SET [Column 0]=REPLACE([Column 0],' ','')

SELECT [Column 0] as 'danhbo',[Column 1] as 'co cu',[Column 17] as 'hieu cu',
		[Column 21] as 'than cu',[Column 28] as 'co moi',[Column 29] as 'hieu moi',[Column 32] as 'than moi', [Column 58] as 'vi tri'
FROM dbo.DULIEUDOCSOVE

-- KHONG CO SO THAN
SELECT [Column 0],[Column 2],[Column 3]+' ' +[Column 4],[Column 29],[Column 32] FROM dbo.DULIEUDOCSOVE
WHERE ([Column 32] LIKE '%o%' OR [Column 32] LIKE '%CMS%' OR [Column 32] LIKE '% %' OR [Column 32] LIKE '%K%' )
ORDER BY [Column 0] ASC 

-- KIEM TRA HIEU KO CO NAM
SELECT [Column 0],[Column 2],[Column 3]+' ' +[Column 4], [Column 29],[Column 32]
FROM dbo.DULIEUDOCSOVE
WHERE  LEN(DULIEUDOCSOVE.[Column 29])=3
ORDER BY [Column 0] ASC 

-- UPDATE KO CO NAM
UPDATE dbo.DULIEUDOCSOVE SET [Column 29]=[Column 29]+'09' WHERE  [Column 29]='BAY' 
UPDATE dbo.DULIEUDOCSOVE SET [Column 29]=[Column 29]+'08' WHERE  [Column 0]='13152180742'
UPDATE dbo.DULIEUDOCSOVE SET [Column 29]=[Column 29]+'08' WHERE  [Column 0]='13152180742'
UPDATE dbo.DULIEUDOCSOVE SET [Column 29]=[Column 29]+'08' WHERE  [Column 0]='13152180700'
UPDATE dbo.DULIEUDOCSOVE SET [Column 29]=[Column 29]+'11' WHERE  [Column 0]='13152180238'
UPDATE dbo.DULIEUDOCSOVE SET [Column 29]=[Column 29]+'09' WHERE  [Column 0]='13152180236'


-- KIEM TRA DANH BA KO UPDATE

SELECT [Column 0],[Column 2],[Column 3]+' ' +[Column 4],[Column 29],[Column 32]
FROM DULIEUDOCSOVE
WHERE LEN(DULIEUDOCSOVE.[Column 29])<3 OR DULIEUDOCSOVE.[Column 29] IS NULL AND (DULIEUDOCSOVE.[Column 32] = '123654' OR  DULIEUDOCSOVE.[Column 32] = '175171')
-------------------------------------- DỮ LIỆU CHÍNH THỨC ------------------------------------------------
-------- LOẠI ĐỒNG HỒ CÓ NĂM

UPDATE TB_DULIEUKHACHHANG
SET  HIEUDH = LEFT(DULIEUDOCSOVE.[Column 29],3),
	 CODH =DULIEUDOCSOVE.[Column 28],
	 SOTHANDH=DULIEUDOCSOVE.[Column 32],
	 CHITHAN='CON',
	 CHIGOC='CON',	
	 VITRIDHN=DULIEUDOCSOVE.[Column 58],
	 NGAYTHAY='01/01/20'+RIGHT(DULIEUDOCSOVE.[Column 29],2) ,
	 CREATEDATE = GETDATE(), CREATEBY='system'
 FROM DULIEUDOCSOVE
 WHERE TB_DULIEUKHACHHANG.DANHBO=DULIEUDOCSOVE.[Column 0] AND SOTHANDH IS NULL  AND LEN(DULIEUDOCSOVE.[Column 29])>3 AND (DULIEUDOCSOVE.[Column 32] <> '123654' OR  DULIEUDOCSOVE.[Column 32] <> '175171')

-------- LOẠI ĐỒNG HỒ KHÔNG CÓ NĂM
UPDATE TB_DULIEUKHACHHANG
SET  HIEUDH = LEFT(DULIEUDOCSOVE.[Column 29],3),
	 CODH =DULIEUDOCSOVE.[Column 28],
	 SOTHANDH=DULIEUDOCSOVE.[Column 32],
	 CHITHAN='CON',
	 CHIGOC='CON',	
	 VITRIDHN=DULIEUDOCSOVE.[Column 58],
	 NGAYTHAY='01/01/2007' ,
	 CREATEDATE = GETDATE(), CREATEBY='system'
 FROM DULIEUDOCSOVE
 WHERE TB_DULIEUKHACHHANG.DANHBO = DULIEUDOCSOVE.[Column 0] AND SOTHANDH IS NULL  AND LEN(DULIEUDOCSOVE.[Column 29])=3 AND DULIEUDOCSOVE.[Column 32] <> '123654'



--------
select * from TB_DULIEUKHACHHANG WHERE HIEUDH='BAY'
-- BAY9 + BAY 10
UPDATE TB_DULIEUKHACHHANG SET NGAYTHAY='01/01/2007' WHERE HIEUDH='WOL' 
--UPDATE TB_DULIEUKHACHHANG SET NGAYTHAY='01/01/2007' WHERE HIEUDH='SEN'
--UPDATE TB_DULIEUKHACHHANG SET NGAYTHAY='01/01/2010' WHERE HIEUDH='BAY' 

HIEUDH='WOL' or 
---- 
SELECT * FROM TB_DULIEUKHACHHANG WHERE SOTHANDH IS NOT NULL 

SELECT * FROM TB_DULIEUKHACHHANG WHERE LEN(SOTHANDH)<2

SELECT distinct HIEUDH FROM TB_DULIEUKHACHHANG

--

UPDATE  TB_DULIEUKHACHHANG
SET HIEUDH='ACT',SOTHANDH='203578', NGAYTHAY='01/01/2009' WHERE  DANHBO='13152188843'
			
UPDATE  TB_DULIEUKHACHHANG
SET HIEUDH='ACT',SOTHANDH='TEM MO', NGAYTHAY='01/01/2008' WHERE  DANHBO='13152199575'




------------------------ update TAN BINH 01

UPDATE TB_DULIEUKHACHHANG
SET  HIEUDH = TB1.HIEU,
	 SOTHANDH=TB1.SOTHAN,
	 CHITHAN='CON',
	 CHIGOC='CON',	
	 VITRIDHN=TB1.VITRI,
	 NGAYTHAY='01/01/'+CONVERT(VARCHAR(4),TB1.NAMGAN),
	 CREATEDATE = GETDATE(), CREATEBY='system'
 FROM TB1
 WHERE TB_DULIEUKHACHHANG.DANHBO=TB1.DANHBO AND SOTHANDH IS NULL

SELECT * FROM TB1 WHERE NAMGAN LIKE '%I%'

UPDATE TB1 SET NAMGAN='01/01/'+NAMGAN
UPDATE TB1 SET NAMGAN=REPLACE(NAMGAN,'"','')
UPDATE TB1 SET NAMGAN=REPLACE(NAMGAN,' ','')

DELETE FROM TB1 WHERE DANHBO='13081573657'
DELETE FROM TB1 WHERE DANHBO='13081570125'

ALTER TABLE TB1 MODIFY NAMGAN datetime;

--- TAN PHU

UPDATE TB_DULIEUKHACHHANG
SET  HIEUDH = TANPHU.HIEU,
	 SOTHANDH = TANPHU.SOTHAN,
	 CHITHAN = 'CON',
	 CHIGOC = 'CON',	
	 VITRIDHN = TANPHU.VITRI,
	 NGAYTHAY = '01/01/'+TANPHU.NAMGAN,
	 CREATEDATE = GETDATE(), CREATEBY='system'
 FROM TANPHU
 WHERE TB_DULIEUKHACHHANG.DANHBO=TANPHU.DANHBO AND SOTHANDH IS NULL