UPDATE TB_DULIEUKHACHHANG
SET VITRIDHN=N'Trái'
WHERE  VITRIDHN='T' 

UPDATE TB_DULIEUKHACHHANG
SET VITRIDHN=N'Phải'
WHERE  LEFT(VITRIDHN,1)='P' OR  LEFT(VITRIDHN,1)='F'

SELECT VITRIDHN
FROM TB_DULIEUKHACHHANG
WHERE  LEFT(VITRIDHN,1)='P' OR  LEFT(VITRIDHN,1)='F'