SELECT DANHBA, MALOTRINH, TIEUTHU, TBTHU FROM [DocSo_PHT].[dbo].[DS2012]   
WHERE CODE='4' AND KY=6 AND ((TIEUTHU >= (TBTHU * 1.51)) OR (TIEUTHU <= (TBTHU * 0.51))) AND TIEUTHU<> TBTHU

SELECT LEFT(LOTRINH,2) AS 'DOT', LOTRINH, DANHBO, HOPDONG, HOTEN, SONHA, TENDUONG,CSCU,CSMOI, TIEUTHU, TBTHU ,NV.NAME
FROM TB_DULIEUKHACHHANG  KH, TB_NHANVIENDOCSO NV, [DocSo_PHT].[dbo].[DS2012] DS
WHERE SUBSTRING(LOTRINH,3,2)=NV.MAYDS  and DS.CODE='4' AND DS.DANHBA = KH.DANHBO  AND DS.KY=6 AND ((DS.TIEUTHU >= (DS.TBTHU * 1.51)) OR (DS.TIEUTHU <= (DS.TBTHU * 0.51))) AND DS.TIEUTHU<> DS.TBTHU
ORDER BY LOTRINH ASC

SELECT * FROM TB_DULIEUKHACHHANG WHERE KY=7 AND NAM=2012 AND LEFT(LOTRINH,2)='01'