-- TAN BINH 01

SELECT LOTRINH, DANHBO, HOPDONG, TENKH, SONHA, TENDUONG, PHUONG, QUAN, HIEUDHN, SOTHAN, VITRI
FROM HANDHELD
ORDER BY LOTRINH ASC

SELECT DANHBO FROM HANDHELD
GROUP BY DANHBO
HAVING COUNT(DANHBO)>=2
ORDER BY DANHBO ASC

SELECT DANHBO FROM HANDHELD
GROUP BY DANHBO
HAVING COUNT(LOTRINH)>=2
ORDER BY DANHBO ASC

--- TAN BINH 02 

SELECT LOTRINH, DANHBO, HOPDONG, TENKH, SONHA, TENDUONG, PHUONG, QUAN, HIEUDHN, SOTHAN, VITRI
FROM HANDHELD_TANBINH02
ORDER BY LOTRINH ASC

SELECT LOTRINH, DANHBO, HOPDONG, TENKH, SONHA, TENDUONG, PHUONG, QUAN, HIEUDHN, SOTHAN, VITRI
FROM HANDHELD_TANBINH02
WHERE  HOPDONG IS NULL

SELECT DANHBO FROM HANDHELD_TANBINH02
GROUP BY DANHBO
HAVING COUNT(DANHBO)>=2
ORDER BY DANHBO ASC

SELECT DANHBO FROM HANDHELD_TANBINH02
GROUP BY DANHBO
HAVING COUNT(LOTRINH)>=2
ORDER BY DANHBO ASC

-- TAN PHU


SELECT LOTRINH, DANHBO, HOPDONG, TENKH, SONHA, TENDUONG, PHUONG, QUAN, HIEUDHN, SOTHAN, VITRI
FROM HANDHELD_TANPHU
ORDER BY LOTRINH ASC

SELECT LOTRINH, DANHBO, HOPDONG, TENKH, SONHA, TENDUONG, PHUONG, QUAN, HIEUDHN, SOTHAN, VITRI
FROM HANDHELD_TANPHU
WHERE  HOPDONG IS NULL

SELECT DANHBO FROM HANDHELD_TANPHU
GROUP BY DANHBO
HAVING COUNT(DANHBO)>=2
ORDER BY DANHBO ASC

SELECT DANHBO FROM HANDHELD_TANPHU
GROUP BY DANHBO
HAVING COUNT(LOTRINH)>=2
ORDER BY DANHBO ASC

SELECT DANHBO FROM HANDHELD_TANPHU
where RIGHT(LOTRINH,5)>'25000'




UPDATE HANDHELD_TANPHU SET VITRI='T' WHERE VITRI=N'Trái' or VITRI=N'TRAI'
UPDATE HANDHELD_TANPHU SET VITRI='P' WHERE VITRI=N'Phải' or VITRI=N'PHAI'
UPDATE HANDHELD_TANPHU SET VITRI='G' WHERE VITRI=N'Giữa' or VITRI=N'GIUA'

UPDATE HANDHELD_TANBINH02 SET VITRI='T' WHERE VITRI=N'Trái' or VITRI=N'TRAI'
UPDATE HANDHELD_TANBINH02 SET VITRI='P' WHERE VITRI=N'Phải' or VITRI=N'PHAI'
UPDATE HANDHELD_TANBINH02 SET VITRI='G' WHERE VITRI=N'Giữa' or VITRI=N'GIUA'


UPDATE HANDHELD SET VITRI='T' WHERE VITRI=N'Trái' or VITRI=N'TRAI'
UPDATE HANDHELD SET VITRI='P' WHERE VITRI=N'Phải' or VITRI=N'PHAI'
UPDATE HANDHELD SET VITRI='G' WHERE VITRI=N'Giữa' or VITRI=N'GIUA'

----------------------

UPDATE HANDHELD_TANPHU SET HIEUDHN='' WHERE HIEUDHN IS NULL
UPDATE HANDHELD_TANPHU SET SOTHAN='' WHERE SOTHAN IS NULL
UPDATE HANDHELD_TANPHU SET VITRI='' WHERE VITRI IS NULL

UPDATE HANDHELD_TANBINH02 SET HIEUDHN='' WHERE HIEUDHN IS NULL
UPDATE HANDHELD_TANBINH02 SET SOTHAN='' WHERE SOTHAN IS NULL
UPDATE HANDHELD_TANBINH02 SET VITRI='' WHERE VITRI IS NULL

UPDATE HANDHELD SET HIEUDHN='' WHERE HIEUDHN IS NULL
UPDATE HANDHELD SET SOTHAN='' WHERE SOTHAN IS NULL
UPDATE HANDHELD SET VITRI='' WHERE VITRI IS NULL

-------------------

SELECT LOTRINH,LEFT(LOTRINH,2), RIGHT(LOTRINH,7), LUXUBU 
FROM HANDHELD_TANBINH02
WHERE LEFT(LOTRINH,2)='20'

UPDATE HANDHELD_TANBINH02
SET LOTRINH =('17'+RIGHT(LOTRINH,7))
WHERE LEFT(LOTRINH,2)='20' AND LUXUBU IS NULL

SELECT LEFT(LOTRINH,2) , COUNT(*)
FROM HANDHELD_TANBINH02
GROUP BY LEFT(LOTRINH,2)
ORDER BY LEFT(LOTRINH,2) ASC
     