SELECT NGAYTHAY,BAOTHAY   FROM [CAPNUOCTANHOA].[dbo].[TB_DULIEUKHACHHANG]
where DANHBO='13141930559'

UPDATE [CAPNUOCTANHOA].[dbo].[TB_DULIEUKHACHHANG] 
SET NGAYTHAY='11/01/2007'
where DANHBO='13141930559'


SELECT NGAYTHAY,BAOTHAY   FROM [CAPNUOCTANHOA].[dbo].[TB_DULIEUKHACHHANG]
where DANHBO='13141930783'

UPDATE [CAPNUOCTANHOA].[dbo].[TB_DULIEUKHACHHANG] SET NGAYTHAY='07/02/2007'
where DANHBO='13141930783'

UPDATE TB_DULIEUKHACHHANG 
SET NGAYTHAY='01/01/2008',
	SOTHANDH='1545119',
	HIEUDH='ACT',
	VITRIDHN=N'Phải'
where DANHBO='13172419015'

