 UPDATE TB_DULIEUKHACHHANG
 SET KHU = HdTH02.KHU, 
	 HOPDONG = HdTH02.HOPDONG,
	 CODEFU=HdTH02.CODEFU,
	 CHUKY=HdTH02.CHUKY,
	 CHITHAN='CON',
	 CHIGOC='CON',	
	 CREATEDATE = GETDATE(), CREATEBY='system'
 FROM HdTH02
 WHERE TB_DULIEUKHACHHANG.DANHBO=HdTH02.DANHBO
--------
UPDATE TB_DULIEUKHACHHANG
SET CHITHAN='CON',
	 CHIGOC='CON',	
	 CREATEDATE = GETDATE(), CREATEBY='system'
 
------

DELETE  FROM dbo.DULIEUDOCSOVE

SELECT [Column 0] as 'danhbo',[Column 1] as 'co cu',[Column 17] as 'hieu cu',
		[Column 21] as 'than cu',[Column 28] as 'co moi',[Column 29] as 'hieu moi',[Column 32] as 'than moi', [Column 58] as 'vi tri'
FROM dbo.DULIEUDOCSOVE
where [Column 0]='13041800749'


SELECT distinct [Column 29]
FROM dbo.DULIEUDOCSOVE
WHERE  DULIEUDOCSOVE.[Column 32] <> '123654' AND LEN([Column 29])=3


SELECT [Column 28] AS 'CO',
	 LEFT([Column 29],3) AS 'HIEUDH',
	 RIGHT([Column 29],2) AS 'NAM',
	[Column 32]  as 'THAN',
	 [Column 58] as 'VITRI'
FROM dbo.DULIEUDOCSOVE

DELETE FROM DULIEUDOCSOVE

UPDATE DULIEUDOCSOVE SET [Column 0]=REPLACE([Column 0],'"','')

-------------------------------------- DỮ LIỆU CHÍNH THỨC ------------------------------------------------


-------- LOẠI ĐỒNG HỒ CÓ NĂM

UPDATE TB_DULIEUKHACHHANG
SET  HIEUDH = LEFT(DULIEUDOCSOVE.[Column 29],3),
	 CODH =DULIEUDOCSOVE.[Column 28],
	 SOTHANDH=DULIEUDOCSOVE.[Column 32],
	 CHITHAN='CON',
	 CHIGOC='CON',	
	 VITRIDHN=DULIEUDOCSOVE.[Column 58],
	 NGAYTHAY='01/01/20'+RIGHT(DULIEUDOCSOVE.[Column 29],2) ,
	 CREATEDATE = GETDATE(), CREATEBY='system'
 FROM DULIEUDOCSOVE
 WHERE TB_DULIEUKHACHHANG.DANHBO=DULIEUDOCSOVE.[Column 0] AND SOTHANDH IS NULL  AND LEN(DULIEUDOCSOVE.[Column 29])>3 AND DULIEUDOCSOVE.[Column 32] <> '123654'

-------- LOẠI ĐỒNG HỒ KHÔNG CÓ NĂM
UPDATE TB_DULIEUKHACHHANG
SET  HIEUDH = LEFT(DULIEUDOCSOVE.[Column 29],3),
	 CODH =DULIEUDOCSOVE.[Column 28],
	 SOTHANDH=DULIEUDOCSOVE.[Column 32],
	 CHITHAN='CON',
	 CHIGOC='CON',	
	 VITRIDHN=DULIEUDOCSOVE.[Column 58],
	 NGAYTHAY='01/01/2007' ,
	 CREATEDATE = GETDATE(), CREATEBY='system'
 FROM DULIEUDOCSOVE
 WHERE TB_DULIEUKHACHHANG.DANHBO = DULIEUDOCSOVE.[Column 0] AND SOTHANDH IS NULL  AND LEN(DULIEUDOCSOVE.[Column 29])=3 AND DULIEUDOCSOVE.[Column 32] <> '123654'

select * from TB_DULIEUKHACHHANG WHERE HIEUDH='BAY'
-- BAY9 + BAY 10
--UPDATE TB_DULIEUKHACHHANG SET NGAYTHAY='01/01/2007' WHERE HIEUDH='SEN'
--UPDATE TB_DULIEUKHACHHANG SET NGAYTHAY='01/01/2010' WHERE HIEUDH='BAY' 

HIEUDH='WOL' or 
---- 
SELECT * FROM TB_DULIEUKHACHHANG WHERE SOTHANDH IS NOT NULL 

SELECT * FROM TB_DULIEUKHACHHANG WHERE LEN(SOTHANDH)<2

SELECT distinct HIEUDH FROM TB_DULIEUKHACHHANG