CREATE TABLE WWW_TB_HANDHELD
(
	STT		INT IDENTITY(1,1),
	DOT		VARCHAR(100),
	LOTRINH	VARCHAR(100),
	DANHBO	VARCHAR(100),
	HOPDONG	VARCHAR(100),
	TENKH	VARCHAR(100),
	SONHA	VARCHAR(100),
	TENDUONG	VARCHAR(100),
	PHUONG	VARCHAR(100),
	QUAN	VARCHAR(100),
	HIEU	VARCHAR(100),
	CO		VARCHAR(100),
	SOTHA	VARCHAR(100),
	VITRI	VARCHAR(100),
	NAMGAN	VARCHAR(100),
	TODS	VARCHAR(100),
)
GO

SELECT COUNT(*) FROM WWW_TB_HANDHELD WHERE TODS='TB01'
SELECT COUNT(*) FROM WWW_TB_HANDHELD WHERE TODS='TB02'
SELECT COUNT(*) FROM WWW_TB_HANDHELD WHERE TODS='TP'

--- KIEM TRA DANH BO TRUNG 
	--- TO TAN PHU
-- điếm source hiện tại
SELECT COUNT(*)
FROM  TB_DULIEUKHACHHANG kh,  PHUONG p, QUAN q
WHERE kh.QUAN = q.MAQUAN AND q.MAQUAN=p.MAQUAN AND kh.PHUONG=p.MAPHUONG
AND SUBSTRING(LOTRINH,3,2) IN ('31','32','33','34','35','36','37','38','39','40','41','42','43','44','45','46')

SELECT COUNT(*) FROM WWW_TB_HANDHELD WHERE TODS='TP'


SELECT * FROM WWW_TB_HANDHELD WHERE TODS='TP'
AND DANHBO NOT IN  (
SELECT DANHBO
FROM  TB_DULIEUKHACHHANG kh,  PHUONG p, QUAN q
WHERE kh.QUAN = q.MAQUAN AND q.MAQUAN=p.MAQUAN AND kh.PHUONG=p.MAPHUONG
AND SUBSTRING(LOTRINH,3,2) IN ('31','32','33','34','35','36','37','38','39','40','41','42','43','44','45','46')
)

SELECT * FROM WWW_TB_HANDHELD  WHERE DANHBO IN ('13222910132','13132163992','13152202806','13152175357')

SELECT *
FROM  TB_DULIEUKHACHHANG_HUYDB WHERE DANHBO IN ('13222910132','13132163992','13152202806','13152175357')


SELECT LOTRINH FROM WWW_TB_HANDHELD WHERE TODS='TP'
GROUP BY LOTRINH
HAVING COUNT(LOTRINH)>=2

SELECT DANHBO FROM WWW_TB_HANDHELD WHERE TODS='TP'
GROUP BY DANHBO
HAVING COUNT(DANHBO)>=2


SELECT SUBSTRING(LOTRINH,1,2),COUNT(*) FROM WWW_TB_HANDHELD WHERE TODS='TP'
GROUP BY SUBSTRING(LOTRINH,1,2)
ORDER BY SUBSTRING(LOTRINH,1,2)

SELECT SUBSTRING(LOTRINH,1,2), SUBSTRING(LOTRINH,3,2),COUNT(*) FROM WWW_TB_HANDHELD WHERE TODS='TP'
GROUP BY SUBSTRING(LOTRINH,1,2), SUBSTRING(LOTRINH,3,2)
ORDER BY SUBSTRING(LOTRINH,1,2), SUBSTRING(LOTRINH,3,2)



	-- TO TAN BINH 2

SELECT COUNT(*)
FROM  TB_DULIEUKHACHHANG kh,  PHUONG p, QUAN q
WHERE kh.QUAN = q.MAQUAN AND q.MAQUAN=p.MAQUAN AND kh.PHUONG=p.MAPHUONG
AND SUBSTRING(LOTRINH,3,2) IN ('16','17','18','19','20','21','22','23','24','25','26','27','28','29','30')

SELECT COUNT(*) FROM WWW_TB_HANDHELD WHERE TODS='TB02'

--
SELECT * FROM WWW_TB_HANDHELD WHERE TODS='TB02'
AND DANHBO NOT IN  (
SELECT DANHBO
FROM  TB_DULIEUKHACHHANG kh,  PHUONG p, QUAN q
WHERE kh.QUAN = q.MAQUAN AND q.MAQUAN=p.MAQUAN AND kh.PHUONG=p.MAPHUONG
AND SUBSTRING(LOTRINH,3,2) IN ('16','17','18','19','20','21','22','23','24','25','26','27','28','29','30')
)

SELECT LOTRINH,DANHBO, HOPDONG, HOTEN, SONHA , TENDUONG
FROM  TB_DULIEUKHACHHANG kh,  PHUONG p, QUAN q
WHERE kh.QUAN = q.MAQUAN AND q.MAQUAN=p.MAQUAN AND kh.PHUONG=p.MAPHUONG
AND SUBSTRING(LOTRINH,3,2) IN ('16','17','18','19','20','21','22','23','24','25','26','27','28','29','30') 
AND DANHBO NOT IN  (SELECT DANHBO FROM WWW_TB_HANDHELD WHERE TODS='TB02')


SELECT * FROM WWW_TB_HANDHELD  WHERE DANHBO IN ('13222910132','13132163992','13152202806','13152175357')

SELECT *
FROM  TB_DULIEUKHACHHANG_HUYDB WHERE DANHBO IN ('13222910132','13132163992','13152202806','13152175357')


SELECT SUBSTRING(LOTRINH,1,2),COUNT(*) FROM WWW_TB_HANDHELD WHERE TODS='TB02'
GROUP BY SUBSTRING(LOTRINH,1,2)
ORDER BY SUBSTRING(LOTRINH,1,2)

SELECT SUBSTRING(LOTRINH,1,2), SUBSTRING(LOTRINH,3,2),COUNT(*) FROM WWW_TB_HANDHELD WHERE TODS='TB02'
GROUP BY SUBSTRING(LOTRINH,1,2), SUBSTRING(LOTRINH,3,2)
ORDER BY SUBSTRING(LOTRINH,1,2), SUBSTRING(LOTRINH,3,2)


SELECT DANHBO FROM WWW_TB_HANDHELD WHERE TODS='TB02'
GROUP BY DANHBO
HAVING COUNT(DANHBO)>=2


	--- TO TAN BINH 1
-- điếm source hiện tại
SELECT COUNT(*)
FROM  TB_DULIEUKHACHHANG kh,  PHUONG p, QUAN q
WHERE kh.QUAN = q.MAQUAN AND q.MAQUAN=p.MAQUAN AND kh.PHUONG=p.MAPHUONG
AND SUBSTRING(LOTRINH,3,2) IN ('01','02','03','04','05','06','07','08','09','10','11','12','13','14','15')

SELECT COUNT(*) FROM WWW_TB_HANDHELD WHERE TODS='TB01'


SELECT * FROM WWW_TB_HANDHELD WHERE TODS='TB01'
AND DANHBO NOT IN  (
SELECT DANHBO
FROM  TB_DULIEUKHACHHANG kh,  PHUONG p, QUAN q
WHERE kh.QUAN = q.MAQUAN AND q.MAQUAN=p.MAQUAN AND kh.PHUONG=p.MAPHUONG
AND SUBSTRING(LOTRINH,3,2) IN ('01','02','03','04','05','06','07','08','09','10','11','12','13','14','15')
)

SELECT LOTRINH,DANHBO, HOPDONG, HOTEN, SONHA , TENDUONG
FROM  TB_DULIEUKHACHHANG kh,  PHUONG p, QUAN q
WHERE kh.QUAN = q.MAQUAN AND q.MAQUAN=p.MAQUAN AND kh.PHUONG=p.MAPHUONG
AND SUBSTRING(LOTRINH,3,2) IN ('01','02','03','04','05','06','07','08','09','10','11','12','13','14','15') 
AND DANHBO NOT IN  (SELECT DANHBO FROM WWW_TB_HANDHELD WHERE TODS='TB01')

SELECT * FROM WWW_TB_HANDHELD  WHERE DANHBO IN ('13222910132','13132163992','13152202806','13152175357')

SELECT *
FROM  TB_DULIEUKHACHHANG_HUYDB WHERE DANHBO IN ('13222910132','13132163992','13152202806','13152175357')


SELECT LOTRINH FROM WWW_TB_HANDHELD WHERE TODS='TP'
GROUP BY LOTRINH
HAVING COUNT(LOTRINH)>=2

SELECT DANHBO FROM WWW_TB_HANDHELD WHERE TODS='TP'
GROUP BY DANHBO
HAVING COUNT(DANHBO)>=2


SELECT SUBSTRING(LOTRINH,1,2),COUNT(*) FROM WWW_TB_HANDHELD WHERE TODS='TB01'
GROUP BY SUBSTRING(LOTRINH,1,2)
ORDER BY SUBSTRING(LOTRINH,1,2)

SELECT SUBSTRING(LOTRINH,1,2), SUBSTRING(LOTRINH,3,2),COUNT(*) FROM WWW_TB_HANDHELD WHERE TODS='TB01'
GROUP BY SUBSTRING(LOTRINH,1,2), SUBSTRING(LOTRINH,3,2)
ORDER BY SUBSTRING(LOTRINH,1,2), SUBSTRING(LOTRINH,3,2)



-----------------------------------------------------------------------

SELECT * FROM WWW_TB_HANDHELD WHERE 
 DANHBO NOT IN  (
SELECT DANHBO
FROM  TB_DULIEUKHACHHANG kh,  PHUONG p, QUAN q
WHERE kh.QUAN = q.MAQUAN AND q.MAQUAN=p.MAQUAN AND kh.PHUONG=p.MAPHUONG
)

SELECT LOTRINH,DANHBO, HOPDONG, HOTEN, SONHA , TENDUONG
FROM  TB_DULIEUKHACHHANG kh,  PHUONG p, QUAN q
WHERE kh.QUAN = q.MAQUAN AND q.MAQUAN=p.MAQUAN AND kh.PHUONG=p.MAPHUONG
AND DANHBO NOT IN  (SELECT DANHBO FROM WWW_TB_HANDHELD )







/********************************************************************/
 UPDATE TB_DULIEUKHACHHANG
 SET LOTRINH= WWW_TB_HANDHELD.LOTRINH
 FROM WWW_TB_HANDHELD
 WHERE TB_DULIEUKHACHHANG.DANHBO=WWW_TB_HANDHELD.DANHBO









-----------------------------------------------------------------------------------------------------------------------------------------
SELECT * FROM WWW_TB_HANDHELD WHERE TODS='TP' ORDER BY STT  DESC

SELECT COUNT(*) FROM WWW_TB_HANDHELD WHERE TODS='TB02'

SELECT * FROM WWW_TB_HANDHELD WHERE TODS='TP' AND REPLACE(LOTRINH,' ','') NOT IN ( SELECT REPLACE(LOTRINH,' ','') FROM WWW_TB_HANDHELD_TP )

SELECT  * FROM WWW_TB_HANDHELD_TP WHERE REPLACE(DANHBO,' ','')=''



SELECT DANHBO FROM WWW_TB_HANDHELD_TP 
GROUP BY DANHBO
HAVING COUNT(DANHBO)>=2


SELECT * FROM WWW_TB_HANDHELD WHERE TODS NOT IN ('TB02')


UPDATE [CAPNUOCTANHOA].[dbo].[TB_YEUCAUDC]
   SET KY = 3      
 WHERE KY= 4 and NAM=2013
GO
