select * from TB_GANMOI where DANHBO='13011036080'
update  TB_GANMOI set HIEULUC='01/2018'  where DANHBO='13011036080'
update TB_DULIEUKHACHHANG set KY=1   where DANHBO='13011036080'



-- phuc hoi huy
INSERT INTO [CAPNUOCTANHOA].[dbo].[TB_DULIEUKHACHHANG]
           ([KHU]
           ,[DOT]
           ,[CUON_GCS]
           ,[CUON_STT]
           ,[LOTRINH]
           ,[DANHBO]
           ,[NGAYGANDH]
           ,[HOPDONG]
           ,[HOTEN]
           ,[SONHA]
           ,[TENDUONG]
           ,[PHUONG]
           ,[QUAN]
           ,[CHUKY]
           ,[CODE]
           ,[CODEFU]
           ,[GIABIEU]
           ,[DINHMUC]
           ,[SH]
           ,[HCSN]
           ,[SX]
           ,[DV]
           ,[CODH]
           ,[HIEUDH]
           ,[SOTHANDH]
           ,[CAP]
           ,[CHITHAN]
           ,[CHIGOC]
           ,[VITRIDHN]
           ,[SODHN]
           ,[NGAYTHAY]
           ,[NGAYKIEMDINH]
           ,[MSTHUE]
           ,[SOHO]
           ,[CHISOKYTRUOC]
           ,[BAOTHAY]
           ,[CREATEDATE]
           ,[CREATEBY]
           ,[MODIFYDATE]
           ,[MODIFYBY]
           ,[KY]
           ,[NAM]
           ,[DIENTHOAI]
           ,[KY_]
           ,[MADMA]
           ,[CHUKYDS])
SELECT [KHU]
      ,[DOT]
      ,[CUON_GCS]
      ,[CUON_STT]
      ,[LOTRINH]
      ,[DANHBO]
      ,[NGAYGANDH]
      ,[HOPDONG]
      ,[HOTEN]
      ,[SONHA]
      ,[TENDUONG]
      ,[PHUONG]
      ,[QUAN]
      ,[CHUKY]
      ,[CODE]
      ,[CODEFU]
      ,[GIABIEU]
      ,[DINHMUC]
      ,[SH]
      ,[HCSN]
      ,[SX]
      ,[DV]
      ,[CODH]
      ,[HIEUDH]
      ,[SOTHANDH]
      ,[CAP]
      ,[CHITHAN]
      ,[CHIGOC]
      ,[VITRIDHN]
      ,[SODHN]
      ,[NGAYTHAY]
      ,[NGAYKIEMDINH]
      ,[MSTHUE]
      ,[SOHO]
      ,[CHISOKYTRUOC]
      ,'0' as [BAOTHAY]
      ,[CREATEDATE]
      ,[CREATEBY]
      ,[MODIFYDATE]
      ,[MODIFYBY]
      ,1 as [KY]
      ,2012 as [NAM]
      ,'' as [DIENTHOAI]
      ,1 as [KY_]
      ,[MADMA]
      ,[CHUKYDS]
  FROM  TB_DULIEUKHACHHANG_HUYDB where DANHBO='13202690760'
GO
delete from TB_DULIEUKHACHHANG_HUYDB where DANHBO='13202690760'