
-----------------------------------------

DELETE FROM PHANTICHHD

INSERT INTO PHANTICHHD(TODS,DOT, DANHBA, MALOTRINH, CODE, CSCU, CSMOI, TIEUTHU)
SELECT 0 AS TODS,DOT,DANHBO,PLT AS MALOTRINH, '' AS CODE,0 AS CSCU,0 AS CSMOI,0 AS LNCC
FROM TB_GANMOI WHERE RIGHT(HIEULUC,4)='2016' AND LEFT(HIEULUC,2)<'10'




select  LEFT(KH.LOTRINH,2),KH.LOTRINH, DANHBA,KH.HOTEN,KH.SONHA + ' '+TENDUONG , KH.HIEUDH,KH.CODH,  KH.GIABIEU,KH.DINHMUC ,hd.CODE, CSCU, CSMOI, TIEUTHU, TT01, CODE01, TT02, CODE02, TT03, CODE03, TT04, CODE04, TT05, CODE05, TT06, CODE06, TT07, CODE07, TT08, CODE08, TT09, CODE09, TT10, CODE10, TT11, CODE11, TT12, CODE12, TT13, CODE13, TT14, CODE14, TT15, CODE15, TODS
from PHANTICHHD hd, TB_DULIEUKHACHHANG KH
WHERE KH.DANHBO=hd.DANHBA  and TIEUTHU=0 and TT01=0
order by hd.DOT asc

 
INSERT INTO PHANTICHHD(TODS,DOT, DANHBA, MALOTRINH, CODE, CSCU, CSMOI, TIEUTHU)
SELECT ds.TODS, ds.DOT,ds.DanhBa,ds.MLT1,ds.CodeMoi,ds.CSCU,ds.CSMOI,ds.TieuThuMoi
FROM DocSoTH.dbo.DocSo ds 
WHERE Nam=2017 and Ky=7 and ds.TieuThuMoi=0 and CodeMoi not in ('K','68')

 UPDATE PHANTICHHD SET TT01=hd.TieuThuMoi,CODE01=hd.CodeMoi
 FROM DocSoTH.dbo.DocSo   hd
 WHERE PHANTICHHD.DANHBA=hd.DanhBa  and Nam=2017 and Ky=6 and CodeMoi not in ('K','68')
 
  
 -------------
INSERT INTO PHANTICHHD(TODS,DOT, DANHBA, MALOTRINH, CODE, CSCU, CSMOI, TIEUTHU)
SELECT 1 as TODS, hd.DOT,hd.DANHBO,hd.KHU as MALOTRINH,hd.CODE,CSCU,CSMOI,LNCC
FROM HOADONTH05_2016 hd, TB_DULIEUKHACHHANG kh 
WHERE KH.DANHBO=hd.DANHBO
-------------

 UPDATE PHANTICHHD SET TT09=hd.LNCC,CODE09=hd.CODE
 FROM HOADONTH09_2016 hd
 WHERE PHANTICHHD.DANHBA=hd.DANHBO
 
 
  UPDATE PHANTICHHD SET TODS=hd.TODS, DOT=hd.DOT,CODE=hd.CODE,CSCU=hd.CSCU,CSMOI=hd.CSMOI,TIEUTHU=hd.TIEUTHU
 FROM  DocSo_PHT.dbo.DS2015  hd
 WHERE PHANTICHHD.DANHBA=hd.DANHBA AND KY=4 

-------------- CODE K -------------------
SELECT SUBSTRING(LOTRINH,1,2) as 'DOT',kh.LOTRINH, kh.DANHBO, kh.HOPDONG, kh.HOTEN, kh.SONHA, kh.TENDUONG,kh.HIEUDH, kh.CODH,kh.GIABIEU,kh.DINHMUC, SOTHANDH, YEAR(kh.NGAYTHAY) AS 'NAM' , VITRIDHN,ds.CSCU,ds.CSMOI
FROM HOADONTH07_2015 ds, TB_DULIEUKHACHHANG kh
WHERE ds.CODE='K' and ds.DANHBO=kh.DANHBO
AND ds.DANHBO IN (SELECT DANHBO FROM HOADONTH06_2015 WHERE CODE='K')
AND ds.DANHBO IN (SELECT DANHBO FROM HOADONTH05_2015 WHERE CODE<>'K')
AND ds.DANHBO IN (SELECT DANHBO FROM HOADONTH04_2015 WHERE CODE<>'K')
AND ds.DANHBO IN (SELECT DANHBO FROM HOADONTH03_2015 WHERE CODE<>'K')
AND ds.DANHBO IN (SELECT DANHBO FROM HOADONTH02_2015 WHERE CODE<>'K')
order by LOTRINH asc



SELECT SUBSTRING(LOTRINH,1,2) as 'DOT',kh.LOTRINH, kh.DANHBO, kh.HOPDONG, kh.HOTEN, kh.SONHA, kh.TENDUONG,kh.HIEUDH, kh.CODH,kh.GIABIEU,kh.DINHMUC, SOTHANDH, YEAR(kh.NGAYTHAY) AS 'NAM' , VITRIDHN,ds.CSCU,ds.CSMOI
FROM HOADONTH06_2015 ds, TB_DULIEUKHACHHANG kh
WHERE ds.CODE='4' AND ds.LNCC=0 AND ds.DANHBO=kh.DANHBO
AND ds.DANHBO IN (SELECT DANHBO FROM HOADONTH05_2015 WHERE CODE='4')

order by LOTRINH asc

SELECT SUBSTRING(LOTRINH,1,2) as 'DOT',kh.LOTRINH, kh.DANHBO, kh.HOPDONG, kh.HOTEN, kh.SONHA, kh.TENDUONG,kh.HIEUDH, kh.CODH,kh.GIABIEU,kh.DINHMUC, SOTHANDH, YEAR(kh.NGAYTHAY) AS 'NAM' , VITRIDHN,ds.CSCU,ds.CSMOI
FROM HOADONTH06_2015 ds, TB_DULIEUKHACHHANG kh
WHERE  ds.LNCC=0  AND ds.DANHBO=kh.DANHBO AND NGAYGANDH  like '%2015%'
AND ds.DANHBO IN (SELECT DANHBA FROM DocSo_PHT.dbo.DS2015 WHERE TIEUTHU=0 and KY=7 and DOT<=15)
order by LOTRINH asc




----------------------


SELECT SUBSTRING(LOTRINH,1,2) as 'DOT',kh.LOTRINH, kh.DANHBO, kh.HOPDONG, kh.HOTEN, kh.SONHA, kh.TENDUONG,kh.HIEUDH, kh.CODH,kh.GIABIEU,kh.DINHMUC, SOTHANDH, YEAR(kh.NGAYTHAY) AS 'NAM' , ds.CSCU,ds.CSMOI
FROM HOADONTH06_2016 ds, TB_DULIEUKHACHHANG kh
 WHERE   kh.DANHBO= REPLACE(ds.DANHBO,' ','')   AND LEFT([Field54],4)='2016'
 
 SELECT SUM(CAST(CSMOI as int)),COUNT(*)
FROM HOADONTH06_2016 ds 
 WHERE  LEFT([Field54],4)='2016'  
 
 
SELECT SUBSTRING(kh.KHU,1,2) as 'DOT',kh.KHU, kh.DANHBO, kh.HOPDONG, kh.TENKH, kh.SONHA, kh.DUONG,kh.HIEUDH,kh.CODH,kh.GIABIEU,kh.DM,kh.SOTHAN, YEAR(kh.NAMLD) AS 'NAM' ,kh.CODE, kh.CSCU,kh.CSMOI,kh.LNCC
FROM HOADONTH07_2016 kh 
WHERE CAST(kh.LNCC as int)>=1000
 order by CAST(kh.LNCC as int) desc 