
SELECT MADMA, SUBSTRING(LOTRINH,1,2) as 'DOT',kh.LOTRINH, '' as LOTRINHMOI, kh.DANHBO, kh.HOPDONG, kh.HOTEN, kh.SONHA, kh.TENDUONG,kh.HIEUDH, kh.CODH,SOTHANDH, CONVERT(VARCHAR(20), KY) +'/'+CONVERT(VARCHAR(20), nam) as HIEULUC
FROM  TB_DULIEUKHACHHANG kh
WHERE  SUBSTRING(LOTRINH,3,2) IN ('01','02','03','04','05','06','07','08','09','10','11','12','13','14','15')
ORDER BY LOTRINH ASC


SELECT MADMA,  SUBSTRING(LOTRINH,1,2) as 'DOT',kh.LOTRINH, '' as LOTRINHMOI, kh.DANHBO, kh.HOPDONG, kh.HOTEN, kh.SONHA, kh.TENDUONG,kh.HIEUDH, kh.CODH,SOTHANDH, CONVERT(VARCHAR(20), KY) +'/'+CONVERT(VARCHAR(20), nam) as HIEULUC
FROM  TB_DULIEUKHACHHANG kh
WHERE  SUBSTRING(LOTRINH,3,2) IN ('16','17','18','19','20','21','22','23','24','25','26','27','28','29','30')
ORDER BY LOTRINH ASC
   
SELECT MADMA,  SUBSTRING(LOTRINH,1,2) as 'DOT',kh.LOTRINH, '' as LOTRINHMOI, kh.DANHBO, kh.HOPDONG, kh.HOTEN, kh.SONHA, kh.TENDUONG,kh.HIEUDH, kh.CODH,SOTHANDH, CONVERT(VARCHAR(20), KY) +'/'+CONVERT(VARCHAR(20), nam)  as HIEULUC
FROM  TB_DULIEUKHACHHANG kh
WHERE  SUBSTRING(LOTRINH,3,2) IN ('31','32','33','34','35','36','37','38','39','40','41','42','43','44','45','46','47','48','49','50')
ORDER BY LOTRINH ASC
   
   
SELECT MADMA,  SUBSTRING(LOTRINH,1,2) as 'DOT',kh.LOTRINH, '' as LOTRINHMOI, kh.DANHBO, kh.HOPDONG, kh.HOTEN, kh.SONHA, kh.TENDUONG,kh.HIEUDH, kh.CODH,SOTHANDH, CONVERT(VARCHAR(20), KY) +'/'+CONVERT(VARCHAR(20), nam) as HIEULUC
FROM  TB_DULIEUKHACHHANG kh
WHERE  SUBSTRING(LOTRINH,3,2) IN ('51','52','53','54','55','56','57','58','59','60','61','62','63','64','65','66','67','67','69','70')
ORDER BY LOTRINH ASC
 
---------------------------------

DELETE FROM AA_TANBINH01 WHERE DANHBO=''
DELETE FROM AA_TANBINH01 WHERE DANHBO=' '
DELETE FROM AA_TANBINH01 WHERE DANHBO IS NULL

DELETE FROM AA_TANBINH02 WHERE DANHBO=''
DELETE FROM AA_TANBINH02 WHERE DANHBO=' '
DELETE FROM AA_TANBINH02 WHERE DANHBO IS NULL

DELETE FROM AA_TANPHU01 WHERE DANHBO=''
DELETE FROM AA_TANPHU01 WHERE DANHBO=' '
DELETE FROM AA_TANPHU01 WHERE DANHBO IS NULL

DELETE FROM AA_TANPHU02 WHERE DANHBO=''
DELETE FROM AA_TANPHU02 WHERE DANHBO=' '
DELETE FROM AA_TANPHU02 WHERE DANHBO IS NULL

--select COUNT(*) from AA_TANBINH01
select COUNT(*) from AA_TANBINH02 where LTMOI is not null
select COUNT(*) from AA_TANPHU01 where LTMOI is not null
select COUNT(*) from AA_TANPHU02 where LTMOI is not null

--update AA_TANBINH01  set DANHBO=REPLACE(DANHBO,' ','')
update AA_TANBINH02  set DANHBO=REPLACE(DANHBO,' ','')
update AA_TANPHU01  set DANHBO=REPLACE(DANHBO,' ','')
update AA_TANPHU02  set DANHBO=REPLACE(DANHBO,' ','')

select COUNT(*) from TB_DULIEUKHACHHANG

-- kiem tra huy

--SELECT * FROM AA_TANBINH01 
--WHERE DANHBO in (SELECT DANHBO FROM TB_DULIEUKHACHHANG_HUYDB)
--and DANHBO not in (SELECT DANHBO FROM TB_DULIEUKHACHHANG)

SELECT *
 FROM AA_TANBINH02 
WHERE DANHBO in (SELECT DANHBO FROM TB_DULIEUKHACHHANG_HUYDB)
and DANHBO not in (SELECT DANHBO FROM TB_DULIEUKHACHHANG)

SELECT *
 FROM AA_TANPHU01
WHERE DANHBO in (SELECT DANHBO FROM TB_DULIEUKHACHHANG_HUYDB)
and DANHBO not in (SELECT DANHBO FROM TB_DULIEUKHACHHANG)

SELECT *
 FROM AA_TANPHU02
WHERE DANHBO in (SELECT DANHBO FROM TB_DULIEUKHACHHANG_HUYDB)
and DANHBO not in (SELECT DANHBO FROM TB_DULIEUKHACHHANG)


-- TRUNG CAC TO

SELECT * FROM AA_TANBINH01 
WHERE DANHBO in (SELECT DANHBO FROM AA_TANBINH02)
OR DANHBO  in (SELECT DANHBO FROM AA_TANPHU01)
OR DANHBO  in (SELECT DANHBO FROM AA_TANPHU02)

SELECT * FROM AA_TANBINH02 
WHERE DANHBO in (SELECT DANHBO FROM AA_TANBINH01)
OR DANHBO  in (SELECT DANHBO FROM AA_TANPHU01)
OR DANHBO  in (SELECT DANHBO FROM AA_TANPHU02)

SELECT * FROM AA_TANPHU01 
WHERE DANHBO in (SELECT DANHBO FROM AA_TANBINH02)
OR DANHBO  in (SELECT DANHBO FROM AA_TANBINH01 )
OR DANHBO  in (SELECT DANHBO FROM AA_TANPHU02)

SELECT * FROM AA_TANPHU02  
WHERE DANHBO in (SELECT DANHBO FROM AA_TANBINH02)
OR DANHBO  in (SELECT DANHBO FROM AA_TANBINH01 )
OR DANHBO  in (SELECT DANHBO FROM AA_TANPHU01)

------ Trung lo trinh, danh bộ
select DANHBO from AA_TANBINH01 GROUP BY DANHBO HAVING COUNT(*)>1
select LTMOI from AA_TANBINH01 GROUP BY LTMOI HAVING COUNT(*)>1

select DANHBO from AA_TANBINH02 GROUP BY DANHBO HAVING COUNT(*)>1
select LTMOI from AA_TANBINH02 GROUP BY LTMOI HAVING COUNT(*)>1

select DANHBO from AA_TANPHU01 GROUP BY DANHBO HAVING COUNT(*)>1
select LTMOI from AA_TANPHU01 GROUP BY LTMOI HAVING COUNT(*)>1

select DANHBO from AA_TANPHU02 GROUP BY DANHBO HAVING COUNT(*)>1
select LTMOI from AA_TANPHU02 GROUP BY LTMOI HAVING COUNT(*)>1
-------------------------------------------------------------------------------------------------------


DELETE  AA_TONGLOTRINH

SELECT STT,  DOT, LTCU, LTMOI, DANHBO INTO AA_TONGLOTRINH		      FROM AA_TANBINH01 where LTMOI is not null
INSERT INTO AA_TONGLOTRINH SELECT STT,  DOT, LTCU, LTMOI, DANHBO  FROM AA_TANBINH02 where LTMOI is not null
INSERT INTO AA_TONGLOTRINH SELECT STT,  DOT, LTCU, LTMOI, DANHBO  FROM AA_TANPHU01 where LTMOI is not null
INSERT INTO AA_TONGLOTRINH SELECT STT,  DOT, LTCU, LTMOI, DANHBO  FROM AA_TANPHU02 where LTMOI is not null

select count(*) FROM AA_TONGLOTRINH
select count(*) FROM TB_DULIEUKHACHHANG

DELETE FROM AA_TONGLOTRINH WHERE DANHBO=''
DELETE FROM AA_TONGLOTRINH WHERE DANHBO=' '
DELETE FROM AA_TONGLOTRINH WHERE DANHBO IS NULL

SELECT COUNT(*) FROM AA_TANBINH01 WHERE  LTCU=LTMOI 
SELECT COUNT(*) FROM AA_TANBINH02 WHERE  LTCU=LTMOI 
SELECT COUNT(*) FROM AA_TANPHU01 WHERE  LTCU=LTMOI 
SELECT COUNT(*) FROM AA_TANPHU02 WHERE  LTCU=LTMOI 



SELECT '"' +DANHBO+'","' + LEFT(LTMOI,2) +'","' + SUBSTRING(LTMOI,3,2)+'","' + SUBSTRING(LTMOI,5,5)+'","2272/TH-QLDHN","2016-12-13","TRAN CONG LE"'
FROM AA_TONGLOTRINH
WHERE  LTCU <> LTMOI 
ORDER BY LTMOI ASC

UPDATE TB_DULIEUKHACHHANG SET DOT =LEFT(LTMOI,2),LOTRINH = LTMOI,CUON_GCS=SUBSTRING(LTMOI,3,2),CUON_STT=SUBSTRING(LTMOI,5,5)
FROM AA_TONGLOTRINH
WHERE  LTCU <> LTMOI  and AA_TONGLOTRINH.DANHBO=TB_DULIEUKHACHHANG.DANHBO



UPDATE TB_DULIEUKHACHHANG SET VITRIDHN=NHAPVT.VT
FROM NHAPVT
WHERE  NHAPVT.DANHBO=TB_DULIEUKHACHHANG.DANHBO


UPDATE [DocSoTH].[dbo].[KHACHHANG] SET ViTri =kh.VITRIDHN
FROM TB_DULIEUKHACHHANG kh
WHERE kh.DANHBO = [DocSoTH].[dbo].[KHACHHANG].DANHBA


WHERE kh.DANHBO = [DocSo_PHT].[dbo].[KHACHHANG].DANHBA
UPDATE [DocSo_PHT].[dbo].[KHACHHANG] SET MALOTRINH =kh.LOTRINH,MALOTRINH2 = kh.LOTRINH
,[DocSo_PHT].[dbo].[KHACHHANG].DOT=LEFT(kh.LOTRINH,2),
[DocSo_PHT].[dbo].[KHACHHANG].MAY=SUBSTRING(kh.LOTRINH,3,2)
FROM TB_DULIEUKHACHHANG kh
WHERE kh.DANHBO = [DocSo_PHT].[dbo].[KHACHHANG].DANHBA
AND LEFT(kh.LOTRINH,2) IN ('01','02','03','04','05','06','07','08','09','10')

AND LEFT(kh.LOTRINH,2) IN ('11','12','13','14','15','16','17','18','19','20')



/*****************************/



select SUBSTRING(LOTRINH,3,2) FROM TB_DULIEUKHACHHANG GROUP BY SUBSTRING(LOTRINH,3,2) ORDER BY SUBSTRING(LOTRINH,3,2)  ASC


//*****************/
UPDATE TB_DULIEUKHACHHANG SET CODE=DS.CODE, CHISOKYTRUOC=DS.CSMOI
FROM DocSo_PHT.dbo.DS2015 DS
WHERE TB_DULIEUKHACHHANG.DANHBO=DS.DANHBA AND DS.KY=12 and DS.CSMOI IS NOT NULL



INSERT INTO [CAPNUOCTANHOA].[dbo].[TB_GHICHU]
           ([DANHBO]
           ,[NOIDUNG]
           ,[DONVI]
           ,[CREATEDATE],CREATEBY
          )
SELECT DANHBO,(N'ĐC Lộ Trình :'+LTCU+'->'+LTMOI) AS NOIDUNG,'QLDHN' AS DONVI,GETDATE() AS CREATEDATE,'IT' AS CREATEBY
FROM  AA_TONGLOTRINH WHERE  LTCU <> LTMOI  
GO


//*****************************/

UPDATE AA_TANBINH01 SET NGAYDOC=KY01
FROM DMA_LICHDOC 
WHERE DMA_LICHDOC.DOT = SUBSTRING(LOTRINH,1,2)

UPDATE AA_TANPHU01 SET NGAYDOC=KY01
FROM DMA_LICHDOC 
WHERE DMA_LICHDOC.DOT = SUBSTRING(LOTRINH,1,2)


alter VIEW V_TB_DULIEUKHACHHANG
AS
	SELECT kh.*,ds.KY12 FROM TB_DULIEUKHACHHANG kh, DMA_LICHDOC ds
	where SUBSTRING(LOTRINH,1,2)=ds.DOT


SELECT KH.DANHBO,SUBSTRING(KH.LOTRINH,1,2) AS 'DOT CU',KH.LOTRINH AS 'LO TRINH CU',
SUBSTRING(tb01.LOTRINH,1,2) AS 'DOT MOI',tb01.LOTRINH AS 'LO TRINH MOI',KH.GIABIEU,KH.DINHMUC,KH.KY12 ,tb01.NGAYDOC as ky1,
DATEDIFF(DD,KH.KY12,tb01.NGAYDOC),
(30-DAY(KH.KY12) + DAY(tb01.NGAYDOC)) AS SONGAY,
ROUND(((31-DAY(KH.KY12) + DAY(tb01.NGAYDOC)-30)*KH.DINHMUC)/30,0)+KH.DINHMUC AS CAPBU,
CASE WHEN (ROUND(((31-DAY(KH.KY12) + DAY(tb01.NGAYDOC)-30)*KH.DINHMUC)/30,0)+KH.DINHMUC)%2=1 THEN 
	(ROUND(((31-DAY(KH.KY12) + DAY(tb01.NGAYDOC)-30)*KH.DINHMUC)/30,0)+KH.DINHMUC)+1 ELSE ROUND(((31-DAY(KH.KY12) + DAY(tb01.NGAYDOC)-30)*KH.DINHMUC)/30,0)+KH.DINHMUC END AS LAMTRON
FROM V_TB_DULIEUKHACHHANG KH,  AA_TANPHU01 tb01
WHERE KH.DANHBO=tb01.DANHBO AND SUBSTRING(KH.LOTRINH,1,2) != SUBSTRING(tb01.LOTRINH,1,2)
ORDER BY tb01.LOTRINH ASC



SELECT KH.DANHBO,KH.GIABIEU,DMA.GB,KH.DINHMUC,DMA.DM
FROM TB_DULIEUKHACHHANG KH, DMA_KHACHHANG DMA
WHERE KH.DANHBO=DMA.DANHBO


UPDATE TB_DULIEUKHACHHANG SET GIABIEU=DMA.GIABIEU,DINHMUC=DMA.DINHMUC
FROM HOADONTH11_2013 DMA
WHERE TB_DULIEUKHACHHANG.DANHBO=DMA.DANHBO 

-----------------------------]
SELECT SUBSTRING(tb01.LOTRINH,1,2) AS DOTCU,tb01.LOTRINH AS LOTRINHCU, SUBSTRING(KH.LOTRINH,1,2) AS DOTMOI,KH.LOTRINH AS LOTRINHMOI,
DATEDIFF(DD,KH.KY12,tb01.NGAYDOC) AS LECHNGAY,KH.DANHBO,KH.CODH,KH.HOPDONG,KH.HOTEN,KH.SONHA,KH.TENDUONG,KH.GIABIEU,KH.DINHMUC
INTO DMA_TONGLOTRINH
FROM V_TB_DULIEUKHACHHANG KH,  AA_TANPHU01 tb01
WHERE KH.DANHBO=tb01.DANHBO
ORDER BY tb01.LOTRINH asc



INSERT INTO DMA_TONGLOTRINH
SELECT SUBSTRING(KH.LOTRINH,1,2) AS DOTCU,KH.LOTRINH AS LOTRINHCU,SUBSTRING(tb01.LOTRINH,1,2) AS DOTMOI,tb01.LOTRINH AS LOTRINHMOI, 
DATEDIFF(DD,KH.KY12,tb01.NGAYDOC) AS LECHNGAY,KH.DANHBO,KH.CODH,KH.HOPDONG,KH.HOTEN,KH.SONHA,KH.TENDUONG,KH.GIABIEU,KH.DINHMUC
FROM V_TB_DULIEUKHACHHANG KH,  AA_TANPHU01 tb01
WHERE KH.DANHBO=tb01.DANHBO
ORDER BY tb01.LOTRINH asc


SELECT COUNT(*) FROM DMA_TONGLOTRINH 
SELECT COUNT(*) FROM DMA_KHACHHANG 

SELECT *
FROM DMA_TONGLOTRINH 
WHERE DANHBO='13182503013'

SELECT * FROM DMA_TONGLOTRINH  WHERE DANHBO  NOT IN (SELECT DANHBO FROM DMA_KHACHHANG )

SELECT * FROM DMA_TONGLOTRINH ORDER BY LEFT(LOTRINHMOI,2) ASC


SELECT LOTRINHMOI FROM DMA_TONGLOTRINH 
GROUP BY LOTRINHMOI
HAVING COUNT(LOTRINHMOI)>=2

DOTCU, LOTRINHCU, DOTMOI, LOTRINHMOI, LECHNGAY, DANHBO, CODH, HOPDONG, HOTEN, SONHA, TENDUONG, GIABIEU, DINHMUC

UPDATE DMA_TONGLOTRINH set DINHMUC='' where DINHMUC is null

SELECT '"'+DOTCU+'","'+LOTRINHCU+'","'+DOTMOI+'","'+LOTRINHMOI+'","'+CONVERT(VARCHAR(10),LECHNGAY)+'","'+DANHBO+'","'+CODH+'","'+HOPDONG+'","'+HOTEN+'","'+SONHA+'","'+TENDUONG+'","'+GIABIEU+'","'+DINHMUC+'"'
FROM DMA_TONGLOTRINH ORDER BY LEFT(LOTRINHMOI,2) ASC

DANHBO,DOT MOI, BOOK_NO MOI, STT MOI, DINH MUC MOI,NGUOI KY, NGAY_KY, SO QUYET DINH

UPDATE DMA_KHACHHANG SET DM=TB_DULIEUKHACHHANG.DINHMUC
FROM TB_DULIEUKHACHHANG 
where DMA_KHACHHANG.DANHBO=TB_DULIEUKHACHHANG.DANHBO

SELECT '"' +DANHBO+'","' + LEFT(LOTRINHMOI,2) +'","' + SUBSTRING(LOTRINHMOI,3,2)+'","' + SUBSTRING(LOTRINHMOI,5,5)+'","0"'
FROM AA_TANPHU02
ORDER BY LOTRINHMOI ASC

"13152221973","01","51","00400","0"
SELECT * FROM AA_TANPHU02 WHERE DANHBO='13152221973'



SELECT (dot_moi+''+so_moi+''+stt_moi), COUNT(*) FROM AA_TONGLOTRINH
GROUP BY (dot_moi+''+so_moi+''+stt_moi)
having COUNT(*) >1
ORDER BY (dot_moi+''+so_moi+''+stt_moi) ASC



select *
FROM TB_DULIEUKHACHHANG 
where DANHBO='13212810609'

UPDATE TB_DULIEUKHACHHANG SET DOT =dot_moi,LOTRINH = (dot_moi+''+so_moi+''+stt_moi)
FROM AA_TONGLOTRINH
WHERE AA_TONGLOTRINH.dbo = TB_DULIEUKHACHHANG.DANHBO


UPDATE KHACHHANG SET HIEULUC=1 WHERE HIEULUC=0


UPDATE [DocSo_PHT].[dbo].[KHACHHANG] SET MALOTRINH =kh.LOTRINH,MALOTRINH2 = kh.LOTRINH
,[DocSo_PHT].[dbo].[KHACHHANG].DOT=LEFT(kh.LOTRINH,2),
[DocSo_PHT].[dbo].[KHACHHANG].MAY=SUBSTRING(kh.LOTRINH,3,2)
FROM TB_DULIEUKHACHHANG kh
WHERE kh.DANHBO = [DocSo_PHT].[dbo].[KHACHHANG].DANHBA
AND LEFT(kh.LOTRINH,2) IN ('01','02','03','04','05','06','07','08','09','10')

--------------------------
INSERT INTO [CAPNUOCTANHOA].[dbo].[TB_GHICHU]
           ([DANHBO]
           ,[NOIDUNG]
           ,[DONVI]
           ,[CREATEDATE],CREATEBY
          )
SELECT DANHBO,(N'ĐC Lộ Trình :'+LOTRINHCU+'->'+LOTRINHMOI) AS NOIDUNG,'QLDHN' AS DONVI,GETDATE() AS CREATEDATE,'IT' AS CREATEBY
FROM  AA_TANPHU02
GO

SELECT * FROM KHACHHANG WHERE TODS=4 AND DOT=18 AND MAY=60



