<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <connectionStrings>
    <add name="CAPNUOCTANHOA.Properties.Settings.AccessFile" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=D:\KHKT\TC_HeQLHS-XP2000.mdb;Persist Security Info=True;Jet OLEDB:Database Password=25874" />
    <add name="CAPNUOCTANHOA.Properties.Settings.AccessFile2" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=D:\KHKT\QLHSMAIN.mdb"
      providerName="System.Data.OleDb" />
    <add name="CAPNUOCTANHOA.Properties.Settings.CAPNUOCTANHOAConnectionString"
      connectionString="Data Source=HP_G7;Initial Catalog=CAPNUOCTANHOA;Persist Security Info=True;User ID=sa;Password=123@tanhoa"
      providerName="System.Data.SqlClient" />
    <add name="CAPNUOCTANHOA.Properties.Settings.DocSo_PHTConnectionString"
      connectionString="Data Source=HP_G7;Initial Catalog=DocSo_PHT;Persist Security Info=True;User ID=sa;Password=123@tanhoa"
      providerName="System.Data.SqlClient" />
    <add name="CAPNUOCTANHOA.Properties.Settings.TANHOAConnectionString"
      connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\TANHOA.mdb"
      providerName="System.Data.OleDb" />
  </connectionStrings>
  <!--  
  
    End Connection  HP_G7 123@tanhoa LEDAT-PC\MSSQLSERVER2008 
  -->

  <appSettings>
    <add key="code" value="'60','61','62','63','64','65','66','67','68'" />
    <add key="khoi" value="100" />
    <add key="ktSoThan" value="1" /><!-- 0 bo qua, 1: canhbao 2: khong cho -->
  </appSettings>
  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="log-file.txt"/>
      <param name="AppendToFile" value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="10MB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%-5p%d{yyyy-MM-dd hh:mm:ss} – %m%n"/>
      </layout>
    </appender>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="LogFileAppender"/>
    </root>
  </log4net>
<startup>
<supportedRuntime version="v2.0.50727"/></startup>
</configuration>
