<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <connectionStrings>
    <add name="GIAMHOADON.Properties.Settings.AccessFile" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=D:\KHKT\TC_HeQLHS-XP2000.mdb;Persist Security Info=True;Jet OLEDB:Database Password=25874" />
    <add name="GIAMHOADON.Properties.Settings.AccessFile2" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=D:\KHKT\QLHSMAIN.mdb"
      providerName="System.Data.OleDb" />
    <add name="GIAMHOADON.Properties.Settings.GIAMHOADONConnectionString"
      connectionString="Data Source=HP_G7;Initial Catalog=CAPNUOCTANHOA;Persist Security Info=True;User ID=sa;Password=123@tanhoa"
      providerName="System.Data.SqlClient" />
    <add name="GIAMHOADON.Properties.Settings.DocSo_PHTConnectionString"
      connectionString="Data Source=HP_G7;Initial Catalog=DocSo_PHT;Persist Security Info=True;User ID=sa;Password=123@tanhoa"
      providerName="System.Data.SqlClient" />
    <add name="GIAMHOADON.Properties.Settings.TANHOAConnectionString"
      connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\TANHOA.mdb"
      providerName="System.Data.OleDb" />
    <add name="GIAMHOADON.Properties.Settings.HoaDonConnectionString"
      connectionString="Data Source=AGRIBANK-TANHOA\SQLAGRIBANK;Initial Catalog=HoaDon;Persist Security Info=True;User ID=website;Password=T@nHo@2011"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!--  
  
    End Connection  HP_G7 123@tanhoa LETANDAT LETANDAT-PC
  -->
  <appSettings>
    <add key="mep" value="ngan" />
    <add key="code" value="'60','61','62','63','64','65','66','67','68'" />
    <add key="khoi" value="100" />
    <add key="record" value="20" />
    <add key="recordKT" value="3" />
    <add key="ktSoThan" value="1" />
    <!-- 0 bo qua, 1: canhbao 2: khong cho -->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="log-file.txt" />
      <param name="AppendToFile" value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%-5p%d{yyyy-MM-dd hh:mm:ss} – %m%n" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="LogFileAppender" />
    </root>
  </log4net>
  <startup>
    <supportedRuntime version="v2.0.50727" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>