UPDATE TB_DULIEUKHACHHANG SET NGAYTHAY=Tam.Ngaygan
FROM Tam
WHERE YEAR(TB_DULIEUKHACHHANG.NGAYTHAY) =2009 AND TB_DULIEUKHACHHANG.DANHBO =Tam.DanhBo


SELECT * FROM TB_DULIEUKHACHHANG WHERE YEAR(TB_DULIEUKHACHHANG.NGAYTHAY) =2009

select * from Tam where DanhBo IN (SELECT DANHBO FROM TB_DULIEUKHACHHANG WHERE YEAR(TB_DULIEUKHACHHANG.NGAYTHAY) =2009)