SELECT  *   FROM [DocSo_PHT].[dbo].[DS2013]  WHERE KY=7 AND DOT=1 AND MAY=36

    
GO


SELECT  TB_DULIEUKHACHHANG.QUAN, TB_DULIEUKHACHHANG.PHUONG, COUNT(*)
  FROM [DocSo_PHT].[dbo].[DS2013]
LEFT JOIN TB_DULIEUKHACHHANG
ON TB_DULIEUKHACHHANG.DANHBO = [DocSo_PHT].[dbo].[DS2013].DANHBA
 WHERE [DocSo_PHT].[dbo].[DS2013].KY=7 AND [DocSo_PHT].[dbo].[DS2013].GHICHUMOI LIKE N'%GIẾ%'
 GROUP BY TB_DULIEUKHACHHANG.QUAN, TB_DULIEUKHACHHANG.PHUONG
 ORDER BY TB_DULIEUKHACHHANG.QUAN ASC, TB_DULIEUKHACHHANG.PHUONG ASC

