
  
 -----------------------------------------
DELETE FROM PHANTICHHD

select  TODS,DOT, DANHBA, MALOTRINH, CODE, CSCU, CSMOI, TIEUTHU, T12, CODE12, T11, CODE11, T10, CODE10, T09, CODE09, T08, CODE08 
from PHANTICHHD order by dot asc

 
INSERT INTO PHANTICHHD(TODS,DOT, DANHBA, MALOTRINH, CODE, CSCU, CSMOI, TIEUTHU)
SELECT TODS, DOT,DANHBA,MALOTRINH,CODE,CSCU,CSMOI,TIEUTHU
FROM DocSo_PHT.dbo.DS2015 ds 
WHERE ds.TIEUTHU=0 AND KY=1
 
 UPDATE PHANTICHHD SET T08=hd.LNCC,CODE08=hd.CODE
 FROM HOADONTH08_2014 hd
 WHERE PHANTICHHD.DANHBA=hd.DANHBO
 

