
alter view THIDUA_GIAMHOADON
as
SELECT
  kh.DANHBO,
  kh.LOTRINH,
  kh.HOTEN,
  kh.HOPDONG,
  (kh.SONHA + ' ' + TENDUONG) as 'DIACHI'
  ,
  (
      SELECT TOP(1) ds.CSMOI
      FROM DocSo_PHT.dbo.DS2012 ds
      WHERE ds.DANHBA=kh.DANHBO AND ds.KY=1 
   ) AS CSKY1,
   (
      SELECT TOP(1) ds.TIEUTHU
      FROM DocSo_PHT.dbo.DS2012 ds
      WHERE ds.DANHBA=kh.DANHBO AND ds.KY=1 
   ) AS TTKY1,
   (
      SELECT TOP(1) ds.CSMOI
      FROM DocSo_PHT.dbo.DS2012 ds
      WHERE ds.DANHBA=kh.DANHBO AND ds.KY=2 
   ) AS CSKY2,
   (
      SELECT TOP(1) ds.TIEUTHU
      FROM DocSo_PHT.dbo.DS2012 ds
      WHERE ds.DANHBA=kh.DANHBO AND ds.KY=2 
   ) AS TTKY2,
   (
      SELECT TOP(1) ds.CSMOI
      FROM DocSo_PHT.dbo.DS2012 ds
      WHERE ds.DANHBA=kh.DANHBO AND ds.KY=3
   ) AS CSKY3,
   (
      SELECT TOP(1) ds.TIEUTHU
      FROM DocSo_PHT.dbo.DS2012 ds
      WHERE ds.DANHBA=kh.DANHBO AND ds.KY=3
   ) AS TTKY3,
   (
      SELECT TOP(1) ds.CSMOI
      FROM DocSo_PHT.dbo.DS2012 ds
      WHERE ds.DANHBA=kh.DANHBO AND ds.KY=4
   ) AS CSKY4,
   (
      SELECT TOP(1) ds.TIEUTHU
      FROM DocSo_PHT.dbo.DS2012 ds
      WHERE ds.DANHBA=kh.DANHBO AND ds.KY=4
   ) AS TTKY4,
   (
      SELECT TOP(1) ds.CSMOI
      FROM DocSo_PHT.dbo.DS2012 ds
      WHERE ds.DANHBA=kh.DANHBO AND ds.KY=5
   ) AS CSKY5,
   (
      SELECT TOP(1) ds.TIEUTHU
      FROM DocSo_PHT.dbo.DS2012 ds
      WHERE ds.DANHBA=kh.DANHBO AND ds.KY=5
   ) AS TTKY5,
   (
      SELECT TOP(1) ds.CSMOI
      FROM DocSo_PHT.dbo.DS2012 ds
      WHERE ds.DANHBA=kh.DANHBO AND ds.KY=6
   ) AS CSKY6,
   (
      SELECT TOP(1) ds.TIEUTHU
      FROM DocSo_PHT.dbo.DS2012 ds
      WHERE ds.DANHBA=kh.DANHBO AND ds.KY=6
   ) AS TTKY6,
   (
      SELECT TOP(1) ds.CSMOI
      FROM DocSo_PHT.dbo.DS2012 ds
      WHERE ds.DANHBA=kh.DANHBO AND ds.KY=7
   ) AS CSKY7,
   (
      SELECT TOP(1) ds.TIEUTHU
      FROM DocSo_PHT.dbo.DS2012 ds
      WHERE ds.DANHBA=kh.DANHBO AND ds.KY=7
   ) AS TTKY7,
   (
      SELECT TOP(1) ds.CSMOI
      FROM DocSo_PHT.dbo.DS2012 ds
      WHERE ds.DANHBA=kh.DANHBO AND ds.KY=8 
    ) AS CSKY8,
   (
      SELECT TOP(1) ds.TIEUTHU
      FROM DocSo_PHT.dbo.DS2012 ds
      WHERE ds.DANHBA=kh.DANHBO AND ds.KY=8 
   ) AS TTKY8,
   (
      SELECT TOP(1) ds.CSMOI
      FROM DocSo_PHT.dbo.DS2012 ds
      WHERE ds.DANHBA=kh.DANHBO AND ds.KY=9
   ) AS CSKY9,
   (
      SELECT TOP(1) ds.TIEUTHU
      FROM DocSo_PHT.dbo.DS2012 ds
      WHERE ds.DANHBA=kh.DANHBO AND ds.KY=9 
   ) AS TTKY9,
   (
      SELECT TOP(1) ds.CSMOI
      FROM DocSo_PHT.dbo.DS2012 ds
      WHERE ds.DANHBA=kh.DANHBO AND ds.KY=10 
   ) AS CSKY10,
   (
      SELECT TOP(1) ds.TIEUTHU
      FROM DocSo_PHT.dbo.DS2012 ds
      WHERE ds.DANHBA=kh.DANHBO AND ds.KY=10 
   ) AS TTKY10,
   (
      SELECT TOP(1) ds.CSMOI
      FROM DocSo_PHT.dbo.DS2012 ds
      WHERE ds.DANHBA=kh.DANHBO AND ds.KY=11 
   ) AS CSKY11,
   (
      SELECT TOP(1) ds.TIEUTHU
      FROM DocSo_PHT.dbo.DS2012 ds
      WHERE ds.DANHBA=kh.DANHBO AND ds.KY=11 
   ) AS TTKY11,
   (
      SELECT TOP(1) ds.CSMOI
      FROM DocSo_PHT.dbo.DS2012 ds
      WHERE ds.DANHBA=kh.DANHBO AND ds.KY=12 
   ) AS CSKY12,
   (
      SELECT TOP(1) ds.TIEUTHU
      FROM DocSo_PHT.dbo.DS2012 ds
      WHERE ds.DANHBA=kh.DANHBO AND ds.KY=12 
   ) AS TTKY12
  
  FROM TB_DULIEUKHACHHANG kh
  
  
select top(20) TTKY1,TTKY2,TTKY3,TTKY4=0,TTKY5=0,TTKY6=0,TTKY7=0,TTKY8,TTKY9,TTKY10 from THIDUA_GIAMHOADON WHERE
TTKY1=0  and TTKY2=0  and  TTKY3=0 and TTKY4=0 and TTKY5=0 and TTKY6=0  and TTKY7=0 and (TTKY8<>0  or TTKY9<>0 or TTKY10<>0 )
  AND CONVERT(int,SUBSTRING(LOTRINH,3,2))= 40
  ORDER BY TTKY8 desc ,TTKY9 desc,TTKY10 desc
  
  , TB_NHANVIENDOCSO nv
  WHERE CONVERT(int,SUBSTRING(kh.LOTRINH,3,2))= nv.MAYDS AND LEFT(HIEUDH,3)  in ('ZEN','LUG','BAD','ROC','HER')
ORDER BY  nv.NAME ASC,kh.LOTRINH ASC
  
  
  ----
  
  SELECT * FROM testter
  
 