
-----------------------------------------

DELETE FROM PHANTICHHD

select  TODS,hd.DOT,KH.LOTRINH, DANHBA,KH.HOTEN,KH.SONHA + ' '+TENDUONG ,KH.GIABIEU,KH.DINHMUC , hd.CODE, CSCU, CSMOI, TIEUTHU, T12, CODE12, T11, CODE11, T10, CODE10, T09, CODE09, T08, CODE08 
from PHANTICHHD hd, TB_DULIEUKHACHHANG KH
WHERE KH.DANHBO=hd.DANHBA 
order by dot asc

 
INSERT INTO PHANTICHHD(TODS,DOT, DANHBA, MALOTRINH, CODE, CSCU, CSMOI, TIEUTHU)
SELECT TODS, DOT,DANHBA,MALOTRINH,CODE,CSCU,CSMOI,TIEUTHU
FROM DocSo_PHT.dbo.DS2015 ds 
WHERE ds.DOT<=5 AND KY=3
 
 -------------
INSERT INTO PHANTICHHD(TODS,DOT, DANHBA, MALOTRINH, CODE, CSCU, CSMOI, TIEUTHU)
SELECT 1 as TODS, DOT,ds.DANHBO,'' as MALOTRINH,CODE,CSCU,CSMOI,LNCC
FROM HOADONTH02_2015 ds 
WHERE LNCC=0
-------------
 UPDATE PHANTICHHD SET T08=hd.LNCC,CODE08=hd.CODE
 FROM HOADONTH09_2014 hd
 WHERE PHANTICHHD.DANHBA=hd.DANHBO
 

